/* colors */
$primary-color: #102654;
$primary-lighter: #FFFFFF;
$additional-accent: #103AAE;
$additional-gradient-start: #D10A42;
$additional-gradient-end: #0041CA;

$button-light-border: #FFFFFF;
$button-primary-dark-border: #102654;
$button-secondary-dark-border: #1C3374;
$button-gradient-start: #ED0233;
$button-gradient-end: #003EB7;
$tab-state: #D10A42;

$background-primary: #FFFFFF;
$background-secondary: #F8F9FC;
$background-banners: #ED0233;
$background-dark-primary: #102654;
$background-dark-secondary: #1C3374;
$background-gradient-start: #003D85;
$background-gradient-end: #B80027;
$background-footer: #B80027;

$icons-light: #FFFFFF;
$icons-dark: #102654;

$form-primary: #FFFFFF;
$form-error: #FF121F;

/* fonts */

$font-primary: "Alumni Sans", sans-serif;
$font-secondary: "Roboto Condensed", sans-serif;

/* device width */

$max-mobile-width: 767px;
$min-tablet-width: 768px;
$max-tablet-width: 1365px;
$desktop-width: 1366px;
